.cake-card {
    display: flex;
    flex-direction: column;
    margin: 0; /* Elimina el margen, el gap del grid lo maneja */
    padding: 20px;
    border-radius: 24px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    border: 1.5px solid #e95ed671;
}

.cake-card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 32px rgba(180, 140, 200, 0.18);
}

.cake-photo {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 16px;
}

.cake-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cake-title{
    text-decoration-line: overline;
    font-weight: 600;
    letter-spacing: 1px;
}

.cake-description {
    font-size: 16px;
    margin: 8px 0;
}

.cake-price {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px 12px;
}