.title-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 18px;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}